* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.container {
    margin: 5em;
    display: flex;
}
#red {
    flex: 0 10em;
    min-height: 10em;
    flex-direction: column;
    background-color: red;
}
#reset {
    height: 100%;
    flex: 0 10em;
    min-height: 10em;
    flex-direction: column;
    background-color: gray;
}

spacer {
    display: block;
    height: 100%;
    margin: auto;
}